<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <meta charset="UTF-8">
    <title>Sort Me Up</title>
    <link rel="icon" type="image/png" href="/images/sortMeUp.png">
    <link rel="stylesheet" type="text/css" href="css/buttonStyle.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>

<br>
<br>
<div id="sortingArea" align="center">
    <label> Enter numbers (Integers only separated by comma)</label>
    <br>
    <br>
<label> [ </label> <input type="text" id="arrayText" > <label> ] </label>

    <br>
    <br>
    <br>
    <p hidden="true" id="sortedArray" name="sortedArray"></p>
    <br>
    <br>
    <br>
    <button id="bubsort" class="styled" name="Bubble Sort" value="Bubble Sort" onclick="sort(this.id)">Bubble Sort</button>
    <button id="mersort" class="styled" name="Merge Sort" value="Merge Sort" onclick="sort(this.id)">Merge Sort Sort</button>
    <button id="quisort" class="styled" name="Quick Sort" value="Quick Sort" onclick="sort(this.id)">Quick Sort</button>
</div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<script>


    function sort(id){

        console.log("abcabc -> " + id);
        var array = $('#arrayText').val();

        console.log("array entered " + array);

        $.ajax({
            type: "GET",
            url: "/sort",
            data: {'id' : id, 'array': array},
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (data) {
                document.getElementById('sortedArray').hidden = false;
                document.getElementById('sortedArray').innerHTML = data.toString();
            }});


    }




</script>
</html>

